.search-container {
  display: flex;
  margin-left: 10px;

  label {
    color: grey;
    margin-bottom: 15px;
  }

  select {
    border: none;
    outline: none;
    appearance: none;
  }
  .option-select {
    width: 250px;
    background: url(/assets/images/angle-down-solid.svg) no-repeat 220px;
  }

  .category-select {
    width: 270px;
    background: url(/assets/images/angle-down-solid.svg) no-repeat 240px;
  }

  button {
    width: unset;
    padding: 0;
  }
  .select-wrapper {
    position: relative;
    display: flex;
  }
}

.search-content-wrapper {
  display: flex;
  flex-direction: column;
}

.category-search-selection {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.search-separator {
  border-left: 1px solid #e8e8e8;
  height: 70%;
  margin: 5px 5px 0 0;
  justify-content: center;
}

.none {
  border: none;
}

.close-selected-btn {
  border: none;
  background: none;
}

@media (max-width: 1208px) {
  .search-experts-wrapper {
    width: 100%;
  }
  .visual-wrapper {
    box-shadow: none;
  }

  .search-container {
    margin-bottom: 10px;
    label {
      margin-bottom: 0;
    }
  }
  .search-container {
    margin: 0;

    .option-select {
      background: url(/assets/images/angle-down-solid.svg) no-repeat 220px;
    }
    .category-select {
      background: url(/assets/images/angle-down-solid.svg) no-repeat 220px;
    }
  }
}
