.payment-container {
  max-width: 1280px;
  min-width: 500px;
  height: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  img {
    height: 120px;
  }

  h1 {
    font-size: 22px;
  }
}
