.current-password {
  display: flex;
  justify-content: space-between;
}

.field-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.input-email {
  margin-bottom: 20px;
}
