.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-content {
  width: 700px;
  height: 425px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.modal .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-content .modal-body h1 {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1.5px solid #cfcfcf;
  padding-bottom: 15px;
}

.modal .modal-content .modal-body .date-time-section {
  border-bottom: 1.5px solid #cfcfcf;
  padding: 10px 0 15px 0;
}

.modal .modal-content .modal-body .date-time-section h2 {
  color: #258675;
  font-weight: 500;
  font-size: 15px;
}

.modal .modal-content .modal-body .date-time-section .date-time-details {
  font-weight: 600;
  font-size: 16px;
}

.modal .modal-content .modal-body .pricing-section .pricing-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 22px;
  font-size: 14px;
  font-weight: 500;
}

.modal .modal-content .modal-body .pricing-section .pricing-breakdown .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 225px;
  gap: 5px;
}

.modal .modal-content .modal-body .pricing-section .pricing-breakdown .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.modal .modal-content .modal-body .pricing-section .pricing-breakdown .right-col div {
  width: 100px;
}

.modal .modal-content .modal-body .pricing-section .total-price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0;
  font-size: 16px;
  font-weight: 600;
}

.modal .modal-content .modal-body .pricing-section .total-price-row .total-key {
  width: 225px;
}

.modal .modal-content .modal-body .pricing-section .total-price-row .total-sum {
  width: 100px;
}

.modal .modal-content .modal-body .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.modal .modal-content .modal-body button,
.modal .modal-content .modal-body button:hover {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-content .modal-body .confirm-btn {
  width: 325px;
  background-color: #258675;
}

.modal .modal-content .modal-body .cancel-btn {
  width: 150px;
  background-color: #ff6961;
}
/*# sourceMappingURL=index.css.map */