.user-card {
  height: 400px;
  width: 275px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
  }

  p {
    margin-bottom: 0;
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex: 3;
  }

  .details {
    flex: 3;

    .name-avatar {
      padding: 10px 15px;
      display: flex;
      align-items: center;
      gap: 10px;

      .avatar {
        height: 25px;
        width: 25px;
        object-fit: cover;
        border-radius: 50%;
      }

      .certified {
        height: 20px;
        width: 20px;
      }
    }

    .description {
      padding: 10px 15px;
      line-height: 20px
    }
  }

  .price {
    border-top: 1px solid #e5e5e5;
    padding: 10px 15px;
    flex: 1;

    .a-partir {
      font-size: 10px;
    }
  }
}