//Primary Color
$orange: #ff9f66;
$cream: #fff1e8;
$lightOrange: #ffb081;
$white: #ffffff;

//Secondary Color
$darkestGreen: #258675;
$secondDarkestGreen: #45a090;
$secondLightestGreen: #94cac0;
$lightestGreen: #d4eee9;
$yellow: #edc988;
$pink: #feaea3;
$darkPink: #ff7d6b;
$lightPink: #ff7d6b;

//Text Color
$darkText: #1c110a;
$lightText: #576165;

//Other Color
$lightBlueGrey: #f5f6f9;
$darkGrey: #b0b4c0;
$blueGrey: #e8eef0;
$grey: #cfcfcf;
$lightGrey: #f4f5f7;

body {
  background-color: $blueGrey;
}

.top-row-grey-band {
  position: absolute;
  height: 250px;
  width: 100%;
  background-color: $lightGrey;
  z-index: -1;
}

.offer-container {
  box-sizing: border-box;
  width: 1280px;
  margin: auto;
  display: flex;

  h2 {
    font-size: 18px;
  }

  .left-col {
    width: 700px;

    .main-expert-info {
      background-color: $lightGrey;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .main-row {
        display: flex;
        margin: auto 0;

        .main-profile-info-col {
          h1 {
            font-size: 20px;
            margin: 8px 0 10px 0;
          }

          div {
            font-size: 12px;
            font-weight: 500;
            margin: 8px 0;
          }
        }

        .main-profile-icons {
          font-size: 14px;
          margin-right: 10px;
          width: 12px;
        }
      }

      .dashboard {
        display: flex;
        padding: 8px 0;
        gap: 30px;
        font-size: 14px;
        color: $lightText;
        font-weight: 500;

        div:hover {
          cursor: pointer;
        }
      }
    }

    .description-container {
      min-height: 100px;
      background-color: white;
      padding: 20px 30px;
      border-radius: 10px;
      margin-top: 15px;

      h3 {
        font-size: 16px;
        color: $lightText;
        margin: 15px 0;
      }

      p {
        font-size: 14px;
        text-align: left;
      }

      .desc-btn {
        font-size: 14px;
        color: $darkestGreen;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .calendar-container {
      min-height: 575px;
      background-color: white;
      border-radius: 10px;
      margin-top: 15px;
      padding: 20px 30px;
    }

    .ratings-container {
      min-height: 150px;
      border-radius: 10px;
      background-color: white;
      margin: 15px 0;
      padding: 20px 30px;

      .ratings-data-row {
        display: flex;
        justify-content: center;
        gap: 50px;
        border-top: solid 1.5px $grey;
        border-bottom: solid 1.5px $grey;
        padding: 25px 0;
        margin: 20px 0;

        .ratings-left-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .avg-rating {
            font-size: 50px;
            font-weight: bold;
            line-height: 50px;
          }

          .total-ratings {
            font-size: 12px;
          }
        }

        .ratings-right-col {
          display: flex;
          flex-direction: column;

          .ratings-visualization-row {
            display: flex;
            align-items: center;
            font-size: 12px;
            gap: 8px;

            .stars-desc {
              width: 60px;
            }

            .ratings-bar {
              width: 250px;
              height: 6px;
              background-color: $grey;
              border-radius: 10px;
            }

            .total-ratings-desc {
              display: flex;
              justify-content: center;
              width: 30px;
            }
          }
        }
      }

      .ratings-list {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .rating-block {
          display: flex;
          gap: 20px;

          .rater-img-placeholder {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: $grey;
          }

          .rating-info-col {
            .date-row {
              color: $grey;
              font-size: 12px;
            }

            .rating-txt {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .right-col {
    flex: 1;
    display: flex;

    .contact-container {
      height: 500px;
      width: 380px;
      margin: 15px;
      border-radius: 10px;
      padding: 20px 30px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .video {
        width: 100%;
        height: 210px;
        border-radius: 10px;
        background-color: $darkestGreen;
      }

      .details-row {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin: 10px 0;

        .contact-ratings-block,
        .contact-price-block {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .bttm-line {
          color: $lightText;
          font-size: 12px;
        }
      }
      .btn {
        height: 40px;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        margin: 5px 0;
      }

      .contact-btn {
        background-color: $secondDarkestGreen;
        color: white;
      }

      .favorite-btn {
        border: 1.5px solid $secondDarkestGreen;
        color: $secondDarkestGreen;
      }

      .data-line {
        font-size: 12px;
        width: 100%;
        font-weight: 600;
        margin-top: 10px;
      }

      .response-time-data {
        color: $lightText;
      }
    }
  }
}
