.expert-card {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  background: white;
  border-radius: 3px;
}

.presentation-card-wrapper {
  width: 75%;
}

.double-brates-wrapper {
  width: 25%;
  margin-top: 50px;
}
