.subheader-container {
  height: 62px;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  display: flex;
  justify-content: center;
  gap: 35px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #f4f5f7;
}

.subheader-container div:hover {
  cursor: pointer;
}
