.account-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 100px auto;

  .account-menu {
    margin-right: 100px;

    ul li {
      margin-bottom: 20px;
    }
  }

  .border-wrapper {
    padding: 40px 15px 15px 40px;
    border: 1px solid rgba(211, 211, 211, 0.295);
  }

  .account-to-update {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
}

.account-to-update-wrapper {
  display: flex;
}
