.edit-category-subcategory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.my-account-container {
  .account-update-title {
    margin-bottom: 40px;
  }

  .update-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    .img-specifications {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
    }

    .default-profile-picture {
      width: 200px;
      height: 200px;
      background-color: #09b1ba;
      border-radius: 1000px;
      margin-bottom: 20px;
    }

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: inline-block;
      border: 1px solid #09b1ba;
      border-radius: 7px;
      padding: 12px 0;
      width: 100%;
      background: #09b1ba;
      color: #f9f9f9;
      cursor: pointer;
      transition: 0.6s;
      text-align: center;
    }

    .custom-file-upload:hover {
      opacity: 0.8;
    }

    .max-size-spec,
    .format-spec {
      color: lightgrey;
      font-size: 0.9rem;
    }

    .cloud-icon {
      margin-right: 10px;
    }
  }

  // Account To Update
  .edit-profil {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .account-to-update-wrapper {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
  }

  .firstname-to-update,
  .lastname-to-update,
  .phonenumber-to-update,
  .social-media-connect {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .firstname-to-update,
  .lastname-to-update,
  .phonenumber-to-update,
  .social-media-connect {
    margin-bottom: 20px;
  }

  .edit-label {
    margin-right: 100px;
  }

  .social-media-connect {
    .linkedin-link,
    .instagram-link {
      display: flex;
    }

    .linkedin-link {
      margin-bottom: 20px;
    }
  }

  .myaccount-submit-container {
    display: flex;
    justify-content: space-between;
  }

  // Drop Down Menu

  // Edit Title Description

  .edit-title-description {
    display: flex;
    flex-direction: column;

    .offer-title,
    .offer-description {
      display: flex;
      justify-content: space-between;
    }

    .offer-title,
    .offer-description {
      margin-bottom: 20px;
      margin-left: 15px;
    }
    input {
      width: 47.5%;
    }
    textarea {
      width: 47.5%;
    }
  }
}
