.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.input-edit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  .input-block {
    margin: 20px 0;
    width: 10%;
  }
  .long {
    width: 70%;
  }
}

.my-account-container {
  .account-update-title {
    margin-bottom: 20px;
  }

  .update-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    .img-specifications {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
    }

    .default-profile-picture {
      width: 200px;
      height: 200px;
      background-color: indigo;
      border-radius: 1000px;
      margin-bottom: 20px;
      position: relative;
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3rem;
      }
    }

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: inline-block;
      border: 1px solid #09b1ba;
      border-radius: 7px;
      padding: 12px 0;
      width: 100%;
      background: #09b1ba;
      color: #f9f9f9;
      cursor: pointer;
      transition: 0.6s;
      text-align: center;
    }

    .custom-file-upload:hover {
      opacity: 0.8;
    }

    .max-size-spec,
    .format-spec {
      color: lightgrey;
      font-size: 0.9rem;
    }

    .cloud-icon {
      margin-right: 10px;
    }
  }

  // Account To Update
  .edit-profil {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .account-to-update-wrapper {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
  }
  .noborder {
    border: none;
  }

  .firstname-to-update,
  .lastname-to-update,
  .phonenumber-to-update,
  .social-media-connect {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .firstname-to-update,
  .lastname-to-update,
  .phonenumber-to-update,
  .social-media-connect {
    margin-bottom: 20px;
  }

  .edit-label {
    margin-right: 100px;
  }

  .social-media-connect {
    .linkedin-link,
    .instagram-link {
      display: flex;
    }

    .linkedin-link {
      margin-bottom: 20px;
    }
  }

  .activate-offer {
    font-size: 1.2rem;
    label {
      margin-right: 10px;
    }
  }

  .myaccount-submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25%;
  }

  .hidded {
    display: none;
  }

  .btn-cancel-submit {
    margin-right: 10px;
  }

  .cancel-submit-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 50px 0;
  }

  // Drop Down Menu

  // Edit Title Description

  .edit-title-description {
    display: flex;
    flex-direction: column;

    .offer-title,
    .offer-description {
      display: flex;
      justify-content: space-between;
    }

    .offer-title,
    .offer-description {
      margin-bottom: 20px;
      margin-left: 15px;
    }
    input {
      width: 47.5%;
    }
    textarea {
      width: 47.5%;
    }
  }

  .title-description {
    display: flex;
    justify-content: space-between;
  }

  .description-container {
    width: 50%;

    .description {
      margin-right: 0;
      width: 100%;
    }
    .description-paragraph {
      width: 300px;
    }
  }

  .firstname-informations,
  .lastname-informations {
    display: flex;
    justify-content: space-between;
  }

  .filled-infos {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .informations-row {
    margin-right: 30%;
  }
}

.btn-bottom-update {
  display: flex;
  justify-content: flex-end;
}

.btn-alternate {
  display: flex;
  width: 30%;
  margin: 20px 0 50px 70%;
}

.activate-offer {
  margin-bottom: 40px;
}

.firstname-informations {
  margin-bottom: 20px;
}
.my-account-container {
  .bottom {
    margin: 20px 0 50px 0;
    justify-content: flex-end;
  }
}

.bulk {
  width: 100%;
  margin-right: 80px;
}

.oneline,
.choose-category,
.title-description {
  margin: 30px 0 15px 0;
  display: block;
  h3 {
    font-size: 1.3rem;
  }
}
