.edit-category-subcategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.my-account-container .account-update-title {
  margin-bottom: 40px;
}

.my-account-container .update-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.my-account-container .update-img-container .img-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.my-account-container .update-img-container .default-profile-picture {
  width: 200px;
  height: 200px;
  background-color: #09b1ba;
  border-radius: 1000px;
  margin-bottom: 20px;
}

.my-account-container .update-img-container input[type="file"] {
  display: none;
}

.my-account-container .update-img-container .custom-file-upload {
  display: inline-block;
  border: 1px solid #09b1ba;
  border-radius: 7px;
  padding: 12px 0;
  width: 100%;
  background: #09b1ba;
  color: #f9f9f9;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
}

.my-account-container .update-img-container .custom-file-upload:hover {
  opacity: 0.8;
}

.my-account-container .update-img-container .max-size-spec,
.my-account-container .update-img-container .format-spec {
  color: lightgrey;
  font-size: 0.9rem;
}

.my-account-container .update-img-container .cloud-icon {
  margin-right: 10px;
}

.my-account-container .edit-profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.my-account-container .account-to-update-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.my-account-container .firstname-to-update,
.my-account-container .lastname-to-update,
.my-account-container .phonenumber-to-update,
.my-account-container .social-media-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.my-account-container .firstname-to-update,
.my-account-container .lastname-to-update,
.my-account-container .phonenumber-to-update,
.my-account-container .social-media-connect {
  margin-bottom: 20px;
}

.my-account-container .edit-label {
  margin-right: 100px;
}

.my-account-container .social-media-connect .linkedin-link,
.my-account-container .social-media-connect .instagram-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-account-container .social-media-connect .linkedin-link {
  margin-bottom: 20px;
}

.my-account-container .myaccount-submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-account-container .edit-title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-account-container .edit-title-description .offer-title,
.my-account-container .edit-title-description .offer-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-account-container .edit-title-description .offer-title,
.my-account-container .edit-title-description .offer-description {
  margin-bottom: 20px;
  margin-left: 15px;
}

.my-account-container .edit-title-description input {
  width: 47.5%;
}

.my-account-container .edit-title-description textarea {
  width: 47.5%;
}
/*# sourceMappingURL=index.css.map */