$lightGrey: #f4f5f7;
$lightText: #576165;
$lightOrange: #ffb081;

h1 {
  font-size: 57px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

.hero-bg-image {
  background-image: url("https://res.cloudinary.com/dyj1ddjba/image/upload/v1646146659/doounoo/redhead_smiling_la22t2.png");
  height: 750px;
  width: 100%;
  background-position: center;
  background-size: cover;

  .hero-content {
    margin: 0 auto;
    max-width: 1280px;

    .hero-title-categories {
      margin-left: 175px;
      padding-top: 55px;
      width: 490px;

      .categories {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        border-radius: 5px;

        .category {
          flex: 1 0 21%;
          background-color: #f88e55;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s;
          color: white;

          p {
            margin-top: 15px;
            font-size: 15px;
          }

          &:nth-child(1) {
            border-top-left-radius: 5px;
          }

          &:nth-child(4) {
            border-top-right-radius: 5px;
          }

          &:nth-child(9) {
            border-bottom-left-radius: 5px;
          }

          &:nth-child(12) {
            border-bottom-right-radius: 5px;
          }

          &:hover {
            background-color: white;
            color: #f88e55;
          }
        }
      }
    }
  }
}

.blue-div {
  height: 150px;
  background-color: #3bb3bd;
  box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px grey;

  .steps {
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    position: relative;

    .steps-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      position: absolute;
      bottom: 75px;

      .step {
        flex: 1;
        background-color: white;
        height: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;

        .step-title-number {
          display: flex;
          align-content: center;
          justify-content: space-between;

          .step-title {
            font-size: 20px;
            font-weight: bold;
            height: fit-content;
          }

          .step-number {
            font-size: 30px;
            font-weight: bold;
            color: #cfcfcf;
          }
        }

        .step-text {
          font-size: 14px;
          color: #584f49;
          line-height: 20px;
        }

        img {
          width: 100%;
          height: 57%;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      .last-step {
        flex: 2;
        background-color: #f88e55;
        border-radius: 5px;
        display: flex;

        .last-step-text {
          flex: 1;
          height: 80%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .step-title-number {
            display: flex;
            align-content: center;
            justify-content: space-between;

            .step-title {
              font-size: 20px;
              font-weight: bold;
              height: fit-content;
              color: white;
            }

            .step-number {
              font-size: 30px;
              font-weight: bold;
              color: white;
            }
          }

          .step-text {
            font-size: 14px;
            color: #584f49;
            line-height: 20px;
          }

          .voir-plus {
            font-size: 13px;
            font-weight: bold;
          }
        }

        .last-step-img {
          flex: 1;
          padding: 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.recently-visited {
  margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 80px;

  h2 {
    margin-top: 100px;
    margin-bottom: 75px;
  }
}

.expert-profiles__div {
  height: 910px;
  background-color: $lightGrey;
  box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px grey;
  border: $lightGrey solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;

  .titles__div {
    // border: red solid 3px;
    text-align: center;

    h3 {
      font-size: 20px;
      color: $lightText;
      font-weight: 600;
      margin-top: 30px;
    }
  }

  .icons__div {
    display: flex;
    // border: blue solid 3px;
    width: 80%;
    .icons-section__div {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: red solid 3px;
      flex: 1;
      text-align: center;
      h4,
      h5 {
        font-size: 14px;
        color: $lightText;
      }
      h4 {
        font-weight: bold;
      }
    }
    img {
      height: 100px;
      width: 100px;
    }
  }
  .video__div {
    width: 511.29px;
    height: 341px;
    position: relative;
    // border: red solid 3px;
    .picture__img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
    .play-icon__img {
      position: absolute;
      height: 100px;
      width: 100px;
      // border: red solid 3px;
      top: 40%;
      left: 40%;
    }
  }
}

.discover-offers__div {
  height: 730px;
  background-color: white;
  box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px grey;
  border: $lightGrey solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;

  .titles__div {
    // border: red solid 3px;
    text-align: start;

    h3 {
      font-size: 20px;
      color: $lightText;
      font-weight: 600;
      margin-top: 30px;
    }
  }

  .icons__div {
    display: flex;
    // border: blue solid 3px;
    width: 80%;
    .icons-section__div {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      // border: red solid 3px;
      flex: 1;
      text-align: center;
      h4 {
        font-size: 24px;
        color: $lightText;
      }
      h5 {
        font-size: 9px;
      }
    }
    img {
      height: 90px;
      width: 90px;
    }
  }
}

.reviews__div {
  height: 910px;
  background-color: $lightGrey;
  box-shadow: -6px 0 white, 6px 0 white, 0 7px 5px -2px grey;
  border: $lightGrey solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  justify-content: center;
  // border: red solid 3px;

  .titles__div {
    // border: red solid 3px;
    text-align: center;
    width: 458px;

    h1 {
      font-size: 50px;
      font-weight: 600;
      margin-top: 30px;
    }
  }

  .review__div {
    background-color: white;
    width: 738px;
    height: 300px;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: blue solid 3px;

    img {
      height: 108px;
      width: 108px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: -50px;
    }
    p {
      margin: 50px 0;
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
      color: $lightText;
    }
  }

  .checkboxs__div {
    display: flex;
    gap: 5px;
    input {
      height: 30px;
      width: 10x;
      background-color: white;
      border-radius: 50%;
      border: 1px solid #ddd;
      // -webkit-appearance: none;
      cursor: pointer;
    }
    input:checked {
      background-color: $lightOrange;
    }
  }
}
