.findoffers-container {
  h1 {
    margin: 3% 0 3% 20%;
    font-size: 2rem;
  }
}
.find-experts-container {
  background-color: antiquewhite;
}

.search-offers-wrapper {
  display: flex;
  justify-content: center;
  box-shadow: 0px 15px 15px -11px rgba(0, 0, 0, 0.94);
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
}

.visual-wrapper {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0px 15px 15px -11px rgba(0, 0, 0, 0.94);
  border-radius: 5px;
  height: 125px;
}
