.find-experts-container {
  h1 {
    margin: 3% 0 3% 20%;
    font-size: 2rem;
  }
}
.find-experts-feed {
  margin-top: 50px;
  h2 {
    margin: 0 0 30px 13%;
    color: #258675;
    font-size: 1.4rem;
  }
}
