$white: #ffffff;
$darkGrey: #b0b4c0;
$secondDarkestGreen: #45a090;

.expert-signup__div {
  background-image: url("https://res.cloudinary.com/dyj1ddjba/image/upload/v1646406076/doounoo/smiling_boy_dwrea6.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 1000px;
}

.expert-signup-content {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.expert-signup_framed__div {
  background-color: $white;
  width: 510px;
  left: 100px;
  top: 50px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: absolute;
  gap: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

  h1 {
    font-size: 40px;
    width: 370px;
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
    color: $darkGrey;
  }
}

input {
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  padding: 0 15px;

  &::placeholder {
    color: #b7b7b7;
  }
}

.expert-signup__form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .expert-signup_form_names__div {
    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
      width: 50%;
    }
  }

  input {
    height: 50px;
  }

  .expert-signup_form_submit__input {
    background-color: $secondDarkestGreen;
    border: none;
    border-radius: 5px;
    color: white;
  }

  label {
    display: flex;
    gap: 20px;
    // justify-content: center;
    align-items: center;
    // border: solid 3px yellow;
    height: 20px;
  }

  span {
    color: red;
  }
}

.error-message {
  text-align: center;
}

.licence-agreement {
  display: flex;
  justify-content: center;

  p {
    color: #c4c4c4;
    font-size: 11px;
    text-align: center;
    width: 350px;
    line-height: 20px;

    span {
      color: $secondDarkestGreen;
    }
  }
}

.loader {
  background-color: #45a090;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
