.offer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background: white;
  border-radius: 3px;
}

.presentation-card-wrapper {
  width: 75%;
}

.double-brates-wrapper {
  width: 25%;
}
