$secondDarkestGreen: #45a090;
$orange: #ff9f66;

.signup__div {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  height: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;

  .signup_framed__div {
    height: 300px;
    padding: 30px;
    background-color: white;
    margin-top: 100px;
    //width: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 10px 5px 5px rgb(213, 213, 213);
  }
}

.signup_framed_buttons__div {
  display: flex;
  justify-content: space-between;
  gap: 20px
}

.button {
  border-radius: 5px;
  width: 350px;
  height: 75px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .3s;

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
  }
}

.expert__button {
  background-color: $secondDarkestGreen;
  color: white;

  &:hover {
    background-color: white;
    color: $secondDarkestGreen;
    border: 1px solid $secondDarkestGreen;
  }
}

.user__button {
  background-color: $orange;
  color: white;

  &:hover {
    background-color: white;
    color: $orange;
    border: 1px solid $orange;
  }
}