.login-container {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E8EEF0;
}

.login-container p {
  font-size: 12px;
  margin-bottom: 0;
}

.login-container input {
  padding: 0 0;
  font-size: 12px;
}

.login-container .link {
  color: #45a090;
}

.login-container .empty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-container .framed__div {
  background-color: #ffffff;
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
  gap: 40px;
  -webkit-box-shadow: 10px 5px 5px #d5d5d5;
          box-shadow: 10px 5px 5px #d5d5d5;
}

.login-container .framed__div .title__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #e5e5e5 1px solid;
}

.login-container .framed__div .title__div .title__p {
  font-size: 18px;
  font-weight: 500;
}

.login-container .framed__div .title__div span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-container .login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.login-container .login__form .submit__div,
.login-container .login__form .checkboxs__div,
.login-container .login__form .email__div,
.login-container .login__form .password__div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.login-container .login__form .submit__div p,
.login-container .login__form .checkboxs__div p,
.login-container .login__form .email__div p,
.login-container .login__form .password__div p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.login-container .login__form .submit__div input,
.login-container .login__form .checkboxs__div input,
.login-container .login__form .email__div input,
.login-container .login__form .password__div input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 5px;
  border: #e5e5e5 1px solid;
  border-radius: 5px;
}

.login-container .login__form .submit__div span,
.login-container .login__form .checkboxs__div span,
.login-container .login__form .email__div span,
.login-container .login__form .password__div span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #45a090;
}

.login-container .login__form .submit__div .checkbox-div,
.login-container .login__form .checkboxs__div .checkbox-div,
.login-container .login__form .email__div .checkbox-div,
.login-container .login__form .password__div .checkbox-div {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.login-container .login__form .submit__div .checkbox-div input,
.login-container .login__form .checkboxs__div .checkbox-div input,
.login-container .login__form .email__div .checkbox-div input,
.login-container .login__form .password__div .checkbox-div input {
  margin-right: 10px;
}

.login-container .login__form .submit__div button,
.login-container .login__form .checkboxs__div button,
.login-container .login__form .email__div button,
.login-container .login__form .password__div button {
  background-color: #45a090;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  height: 35px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.login-container .login__form span {
  font-size: 12px;
  color: red;
}
/*# sourceMappingURL=Login.css.map */