.presentation-card-container {
  display: flex;
  width: 100%;
  .presentation-img-container {
    margin-right: 15px;

    img {
      width: 250px;
      height: 250px;
      border-radius: 10px;
    }
  }
}

.presentation-name-icon,
.presentation-category-icon {
  display: flex;
}
.presentation-name-icon {
  margin-bottom: 15px;
}
.presentation-category-icon {
  margin-bottom: 10px;
}

.presentation-icon {
  margin-right: 15px;
}

.presentation-baseline {
  text-align: center;
  margin: 25px 0;
}

.presentation-separator {
  margin-bottom: 25px;
}
